<header class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid d-flex align-items-center">
    <a class="navbar-brand" href="#">
      <img src="../assets/img/logo.png" alt="Logo" width="auto" height="30" class="d-inline-block align-text-top">
    </a>
    <div class="collapse navbar-collapse">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item ml-5">
          <a class="nav-link" [routerLink]="['/populares']" routerLinkActive="active">Inicio</a>
        </li>
        <li class="nav-item ml-5">
          <a class="nav-link" [routerLink]="['/iniciar-sesion']" routerLinkActive="active">Cerrar sesión</a>
        </li>
      </ul>
    </div>
  </div>
</header>

